@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blackout";
  src: url("/public/fonts/BlackoutSunrise.ttf");
}

@font-face {
  font-family: "Russo";
  src: url("/public/fonts/RussoOne-Regular.ttf");
}

@font-face {
  font-family: "SpaceAge";
  src: url("/public/fonts/space-age.ttf");
}

@font-face {
  font-family: "Arial";
  src: url("/public/fonts/arial_narrow.ttf");
}

.white-stroke {
  color: transparent;
  -webkit-text-stroke: 0.7px white;
}
.yellow-stroke {
  color: transparent;
  -webkit-text-stroke: 0.7px  #e7c376;
}


html {
  color: white;
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}


/* 
$nonBlack: #111517;
$ogray : rgba(128, 128, 128, 0.6);
$owhite : rgba(255, 255, 255, 0.7);
$blue: #7ebec5;
$gold: #e7c376;
$lightgold: #ffedc6; */